<a href="https://colab.research.google.com/github/JustAMirage/python_basics/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loops

##For Loop

In [13]:
#init list
my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [26]:
#print all items in list
for i in my_list:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [10]:
#print 10 items but add 2 to them
for i in range(10):
  print(i+2)

2
3
4
5
6
7
8
9
10
11

In [11]:
#iterate through 1-10 by 1 step and print
for i in range(1, 10, 1):
    print(i)

1
2
3
4
5
6
7
8
9

In [12]:
##iterate through 10-1 by -1 step and print
for i in range(10, 1, -1):
  print(i)

10
9
8
7
6
5
4
3
2

In [14]:
#mod 5 by 3
5 % 3

2

In [18]:
#print evens in list
for i in my_list:
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [19]:
#print i + 3
for i in my_list:
  print (i + 3)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [21]:
#print i * 17
for i in my_list:
  print(i * 17)

17
34
51
68
85
102
119
136
153
170
187
204
221
238
255
272
289
306
323
340

In [23]:
#print i ^ 5
for i in my_list:
  print(i ** 5)

1
32
243
1024
3125
7776
16807
32768
59049
100000
161051
248832
371293
537824
759375
1048576
1419857
1889568
2476099
3200000

In [24]:
#print string
myString = 'Hellow World'

In [25]:
for letter in myString:
  print(letter)

H
e
l
l
o
w

W
o
r
l
d

In [ ]:
for i in range(0, len(my_list)):
  print('Iteration #:', i+1)
  for i in range(i+1, len(my_list)):
    print('The outside loop value is: ', my_list[i], 'The inner loop value is ', my_list[i])

In [35]:
#initialize string
myString = 'Hello World'
#print the letters in the string in order
for letter in myString:
  print(letter)

H
e
l
l
o

W
o
r
l
d

In [36]:
#for this loop iterate the string
for i in "string":
  #print the current letter
  print(i)

s
t
r
i
n
g

In [40]:
#List comprised of tuples
my_list = [(1,2,3),(3,4,5),(5,6,7),(7,8,9)]
#get the length of the list; how many tuples (elements)
len(my_list)

4

In [38]:
#for this loop iterate the list
for tup in my_list:
  #print each tuple
  print(tup)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [43]:
#for this loop iterate the list 
for a,b,c in my_list:
  #print the a iteration
  print(a)

1
3
5
7

In [44]:
#dictionary of integers
my_dict = {"k1":1, "l2":2, "k3":3}
#iterate the dictionary
for i in my_dict:
  #print the items in the dictionary
  print(i)

k1
l2
k3

In [51]:
my_dict.values()

dict_values([1, 2, 3])

In [49]:
for a,b in my_dict:
  print(b)

1
2
3

##While Loops

In [56]:
i = 0
while i < 5:
  print(i)
  i += 1

0
1
2
3
4

In [59]:
i = 0

while i < 5:
  print(i)
  i += 1
else:
  print("i is not less than 5")

0
1
2
3
4
i is not less than 5

In [60]:
i = 10

while i < 5:
  print(i)
  i += 1
else:
  print("i is not less than 5")

i is not less than 5